.cc1{
   
    transform: rotateZ(90deg);
    height: 100%;
    
}
.cc2{
    transform: rotateZ(-90deg);
}
.center-con {
   
    display: flex;
   
    
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 55px;
    height: 55px;
    border-radius: 100%; box-shadow: 0 0px 35px rgba(255, 255, 255, 0.2);
}

span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 18px;
    background: #fff;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 40%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 40%;
}


.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}
