:root {
  --scrollHeigth: 1000px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.None{
  animation-name: None;
  animation-duration: 0.001s;
  opacity: 0;
}
.FadeIn{
  animation-name: FadeIn;
  animation-duration: 0.5s;
  opacity: 1;
}
.FadeOut{
  animation-name: FadeOut;
  animation-duration: 0.5s;
  opacity: 0;
}
body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2c061f;
  
  height: calc(var(--scrollHeigth) * 1);
}

header{
  width: 100%;
  position: fixed;
  top: 25px;
  display: flex;
  justify-content: center;
}
.Header ul{
  display: flex;
  
 
}
.Header li {
  
  margin: 0 15px;
  list-style-type: none;
}
.Header li a{
  
  border-bottom: 5px solid #d8911600;
  transition: border-bottom;
  transition-duration: 0.5s;
  text-decoration: none;
  font-weight: 700;
  color: #e79e4f;
  font-size: 20px;
}
.Header li a:hover{
  border-bottom: 5px solid #d89216;
  transition: border-bottom;
  transition-duration: 0.5s;
}
#BGtext{
  user-select: none;
  position: fixed;
  color: #d89216;
  opacity: 1;
  font-weight: 700;
  font-size: 12em;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 250px;
   animation: rotate 1s linear infinite;

   animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.GameCards{
  margin-top: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.GameCards li{
  list-style-type: none;
}
.GameCards h3{
  padding-top: 25px;
  color: white;
font-weight: 700;
font-size: 27px;
text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
}
.GameCards a{
  
  padding: 15px 35px;
  border-radius: 20px 5px;
  background-color: #574aea;
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: background-color border-radius;
  transition-duration: .3s;
}
.GameCards a:hover{
  transition: background-color border-radius;
  transition-duration: .3s;
  border-radius: 5px 20px;
  background-color: #3725ff;
}
.GameCards section{
  position: relative;
  margin: 0 50px;
}
.GameCards .textContainer{
  margin: 0 auto;
  width: 300px;
  height: 200px;
}
.GameCards p{
  position: fixed;
  margin: 30px auto;
  color: white;
  line-height: 25px;
  width: 300px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.GameCards .imgBx{
  padding-top: 40px;
  
}
.GameCards .imgBx img{
  border-radius: 25px 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 1);
}
.GameCards .container .card{
  position: relative;
 width: 350px;
 height: 545px;
 background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
border-radius: 40px 10px;
backdrop-filter: blur(10px);
transition: border-radius;
transition-duration: .2s;
}
.GameCards .container .card:hover{
transition: border-radius;
transition-duration: .2s;
border-radius: 40px;
}


/* Animation */
@keyframes rotate {
  to {
    transform: rotate(-28deg) skew(25deg);
    opacity: 0.3;
  }
}



@keyframes FadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes FadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes None{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
/* Animation */